.aboutPara{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    top:100;
    height: 90%;
    width: 95%;
    margin: auto;
    
}

.aboutME{
    position: relative;
    
    background-color: black;
    color: white;
     height: 120%;
     width: 90%;
     margin: auto;
    
}

.aboutPara p{
    
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    font-style: normal;
    word-spacing: 10px;
      
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    height: 40%;
    width: 30%;
    
}

.phone{
    display: flex;
    
    align-items: center;
    height: 50%;
    width: 100%;
    

}

.phone img{
    height: 40px;
    width: 40px;
}

.gmail{
    display: flex;
    align-items: center;
    height: 50%;
    width: 100%;
    
}

.gmail img{
    height: 40px;
    width: 40px;
}
.aboutHeading{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: 12%;
    width: 50%;

}
.aboutHeading h1{
    display: flex;
    align-items: center;
    justify-content: center;
  
    top: 30;
    
    height: 80%;
    width: 100%;
    font-size: 60px;
}

@media (max-width:760px) {
    .aboutPara{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-radius: 10px;
        top:50px;
        height: 90%;
        width: 95%;
        margin: auto;
        
    }
    
    .aboutME{

        position: relative;
        top: 100px;
        
        background-color: black;
    color: white;
         height: 120%;
         width: 90%;
         margin: auto;
        
    }
    
    .aboutPara p{
        
        font-size: 15px;
        font-family: "Raleway", sans-serif;
        font-weight: 100;
        font-style: normal;
        word-spacing: 10px;
          
    }
    
    .contact{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: left;
        height: 20%;
        width: 30%;
        
    }
    
    .phone{
        display: flex;
        
        align-items: center;
        height: 20%;
        width: 100%;
        
    
    }
    
    .phone img{
        height: 30px;
        width: 30px;
    }
    
    .gmail{
        display: flex;
        align-items: center;
        height: 50%;
        width: auto;
        
    }
    
    .gmail img{
        height: 30px;
        width: auto;
    }
    .aboutHeading{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        height: 20px;
        width: 50%;
    
    }
    .aboutHeading h1{
        display: flex;
        align-items: center;
        justify-content: center;
      
        top: 30px;
        
        height: 80%;
        width: 100%;
        font-size: 30px;
    }
}