hr{
    position: relative;
    top:50;
    height: 1px solid white;
    color: white;
    width: 80%;
    
    margin: auto;
}

@media (max-width:480px) {
    hr{
        color:whitesmoke;
        width: 200px;
        
    }
}