.navigation{
    background:black;
    color: whitesmoke;
    
    height: 16vh;
    width: 100%;
    
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    
}

.verticalUL{
    display: none;
}

.VerticalNav{
    display: none;
    position: absolute;
    right: 0px;
    margin: 0px 20px;
    height: 45px;
    width: auto;
    background-color: aqua;
}

.VerticalNav img{
    height: 100%;
    width: 100%;
}

.logo{
    

    height: 50px;
    width: 100px;
    cursor: pointer;
    
}

.logo img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    

}
.navigation ul{ 
    position: relative;
    
    height: 40px;
    width: 70%;
   
    display: flex;
    margin: 10px 20px;
    justify-content: space-around;
    align-items: left;
    
}

#redname{
    color: red;
}

.navigation ul li{
  
    font-size: 20px;
    list-style: none;
    
}

.navigation li::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 0;
    top: 25;
    bottom:0;
    background-color: red;
}

.navigation li:hover::before{
    transition: width 0.3s ease;
    width: 100%;
}

.navigation ul li:hover{
    position: relative;
    cursor: pointer;
    color:red;
    
}

@media (max-width:760px) {
    .navigation{
        height: 10vh;
    }
    .navigation ul{
        display: none;
    }


    .logo{
    
        position: absolute;
        left: 0px;
        height: 50px;
        width: 100px;
        cursor: pointer;
        
    }

    .VerticalNav{
        display: block;
        position: absolute;
        right: 0px;
        margin: 12px 20px;
        height: 45px;
        width: auto;
        background-color: white;
    }
}
