.projects{
    position: relative;
    top: 100px;
    margin: auto;
    height: 100vh;
    width: 80%;
    background-color: transparent;

}

.projectsHeading h1{
    margin: 80px 450px;
    font-size: 50px;
}

.allprojectsBox{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 70px;
    justify-content: center;
    align-items: center;
}

.react-box1,.jsBox1,.nodejsBox1,.mysqlBox1,.mongodbBox1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10%;
    border: 3px solid; 
    border-image: linear-gradient(45deg, rgb(34, 29, 190), rgb(0, 0, 0)) 1; 
    width: 460px;
    height: 300px;
    margin: 20px 30px;
    
}

.react-box1 video,.jsBox1 video,.nodejsBox1 video,.mysqlBox1 video,.mongodbBox1 video{
    height: 74%;
    width: auto;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    filter: blur(1px);
}

.react-box1 video:hover{
    filter: blur(0px);
}

.jsBox1 video:hover{
    filter: blur(0px);
}
.nodejsBox1 img{

}

.mysqlBox1 img:hover{
    filter: blur(0px);

}.mongodbBox1 img:hover{
    filter: blur(0px);
}


@media (max-width:760px) {
    .projects{
        position: relative;
        top: 160px;
        margin: auto;
        height: 100vh;
        width: 80%;
        
    
    }
    
    .projectsHeading h1{
        margin: 50px 60px;
        font-size: 50px;
    }
    
    .allprojectsBox{
        display: flex;
        flex-wrap: wrap;
        margin: 20px 70px;
        justify-content: center;
        align-items: center;
    }
    
    .react-box1,.jsBox1,.nodejsBox1,.mysqlBox1,.mongodbBox1{
        
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
       
        
       
        width: auto;
        height: 220px;
        margin: 20px 30px;
    }
    
    .react-box1 video,.jsBox1 video,.nodejsBox1 video,.mysqlBox1 video,.mongodbBox1 video{
        filter: blur(0px);
        border-radius: 2px;
        object-fit: cover;
        height: 55%;
        width: auto;
    }
}

